/* Сброс и базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 245, 246);
}

/* Основной контейнер приложения */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Содержимое начинается от верха страницы */
  align-items: center; /* Центрирование содержимого по горизонтали */
}

/* Дополнительные глобальные стили можно добавить здесь */
/* App.css */
html {
  scroll-behavior: smooth;
}
body, html {
  overflow-x: hidden;
}



